
form {
  width: 70%;
  display: flex; 
  flex-direction: column; 
  margin: auto;
  gap: 8px;
  align-items:flex-start;
  justify-content: center;
  background-color: rgb(1, 184, 190);
 input ,textarea {
    padding: 10px;
    border: none;
    margin-left: 10px;
    border-radius: 15px;
    width: 95%;

 
 }
 
 label{ 
    margin-left: 10px;
 }
 border-radius:20px; 
 padding: 20px;

 button {
    padding: 10px;
    border: none;
    margin-left: 10px;
    border-radius: 15px;
    width: 50%;
    margin: auto;
    margin-top: 10px;
    background-color: rgb(33, 34, 39);
    color: white;

 }
}
body {
    background-color: rgb(33, 34, 39);

}
div {
color: rgb(0, 0, 0);
text-align: center;
width: 70%;
  display: flex; 
  flex-direction: column; 
  margin: auto; 
  margin-top: 20px;
  gap: 8px;
  align-items:flex-start;
  justify-content: center;
  background-color: rgb(1, 184, 190);
    border-radius:20px; 
  padding: 20px;
}
table {
    width: 100%;
    border-collapse:collapse;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    th, td {
        border-right: 2px solid black ; 
        padding: 10px;
    }
}
